body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Playfair Display', serif;
}

.header {
    background: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    height: 100vh;
}

.navbar-light .navbar-toggler {
    border: 3px solid #fff;
    border-radius: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    font-size: 22px;
    color: #fff;
    padding: 5px;
}

.menu ul li a {
    color: #fff !important;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.content-menu {
    padding: 250px 0;
    position: relative;
}

.content-menu::after {
    position: absolute;
    content: '';
    width: 53%;
    height: 4px;
    background-color: #9ab4be;
    top: 36%;
    left: 23%;
}

.content-menu::before {
    position: absolute;
    content: '';
    width: 53%;
    height: 4px;
    background-color: #9ab4be;
    top: 52%;
    left: 23%;
}

.content-menu h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 65px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.content-menu p {
    font-size: 25px;
    color: #c4d2d8;
    padding-top: 28px;
}

.about-part {
    padding-top: 40px;
}

.middle-content-design img {
    width: 450px;
    padding-top: 20px;
}

.about-content-design h3 {
    font-size: 24px;
    color: #4c4c4c;
}

.about-content-design p {
    width: 80%;
    text-align: justify;
    line-height: 28px;
    font-weight: normal;
    font-size: 17px;
    color: #4c4c4c;
    font-family: 'Roboto', sans-serif;
}

.btn-custom {
    padding: 6px;
    background-color: #fB6B58;
    border-radius: 0;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s all ease;
    height: 35px;
    width: 143px;
}

.btn-custom::hover {
    background-color: transparent;
    border: 1px solid #fB6B58;
    color: #fff;
}


/*work party start*/

.work-part {
    padding: 30px 0;
    background-color: #f6f6f6;
}

.work-text h3 {
    font-size: 40px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 30px;
}

.work-text p {
    font-size: 22px;
    color: #494949;
    padding: 10px;
}

.work-common {
    padding: 50px;
    color: #fff;
}

.work1 {
    background-color: #10c6fc;
    padding: 100px 150px;
    margin-right: 32px;
    padding-left: 102px;
}

.icon {
    font-size: 30px;
}

.content-icon p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    text-transform: uppercase;
}

.work2 {
    background-color: #835aeb;
    padding: 100px 150px;
    margin-right: 32px;
    padding-left: 102px;
}

.icon {
    font-size: 30px;
}

.content-icon p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.work3 {
    background-color: #002453;
    padding: 100px 150px;
    margin-right: 32px;
    padding-left: 102px;
}

.icon {
    font-size: 30px;
}

.content-icon p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.work4 {
    background-color: #ff2b4a;
    padding: 100px 150px;
    margin-right: 32px;
    padding-left: 102px;
}

.icon {
    font-size: 30px;
}

.content-icon p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}


/*work party end*/


/*education part start*/

.education {
    padding: 65px;
    background-color: #2f6879;
    padding-bottom: 65px;
}

.education-desing {
    background-color: #51647d;
    padding: 46px 30px;
}

.education-desing h3 {
    color: #fff;
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.education-desing h1 {
    font-size: 25px;
    color: #f0f0f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 10px;
}

.education-desing h2 {
    font-size: 24px;
    color: #b5b4bf;
    padding-top: 10px;
    margin-left: -1px;
}

.education-desing p {
    font-size: 20px;
    color: #a9b2be;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.education-desing {
    position: relative;
}

.education-desing::after {
    position: absolute;
    content: '';
    width: 92%;
    height: 1px;
    background-color: #9ab4be;
    top: 55%;
    left: 5%;
    right: 40px;
}

.education-text {
    padding-right: 18px;
    padding-top: 70px;
}


/*education part end*/


/*latest part start*/

.latest-content {
    padding: 80px;
    background-color: #ffffff;
}

.latest-content h3 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000000;
}

.latest-content p {
    color: #7c7c7c;
    font-size: 22px;
    padding-top: 40px;
}


/*latest part end*/

.content-latest2 img {
    padding: 40px 0;
    margin: -16px;
}

.content-latest3 img {
    padding: 40px 0;
    margin: -16px;
}

.content-latest4 img {
    padding: 40px 0;
    margin: -16px;
}


/*
font-family: 'Roboto',
sans-serif;
font-family: 'Raleway',
sans-serif;*/